* {
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: rgb(15, 0, 0);
    margin: 0px;
    border: 4px solid white;
    color: white;
}

#block__sec--top-piece {
    margin-bottom: 150px;
}

#flex__sec--sticky-gold-black {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 3px solid gold;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 75px;
    width: 100%;
    align-items: center;
    background-color: white;
}

#block__img--logo-left {
    height: 50px;
    width: 150px;
}

#flex__sec-nav--middle-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}

.inline__a--link-box {
    text-decoration: none;
    font-size: 20px;
    color: black;

}

#flex__sec-nav--right-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 100px;
}



.block__nav__img {
    margin: 0px 10px 0px;
}

#facebook {
    height: 40px;
    width: 40px;
}

#twitch {
    height: 30px;
    width: 30px;
}

#twitter-x {
    height: 30px;
    width: 40px;
}

#youtube {
    height: 40px;
    width: 40px;
}

#email {
    height: 40px;
    width: 40px;
    background-color: white;
}

#discord {
    height: 30px;
    width: 40px;
}



#block__img--wallpaper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    background-image: url(https://wallpapercave.com/wp/wp2665254.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;

}

#block__div--red-shadow {
    height: 100%;
    left: 0;
    z-index: 1;
    box-shadow: rgb(131, 1, 1) 20px 0px 300px 550px;
}

#block__div--dark-red-shadow {
    height: 100%;
    left: 0;
    z-index: 2;
    box-shadow: rgb(65, 0, 0) 20px 0px 300px 300px;
}

#block__div--black-shadow {
    height: 100%;
    left: 0;
    z-index: 3;
    box-shadow: rgb(0, 0, 0) 20px 0px 300px 115px;
}

#block__div--bottom-dark-red-shadow {
    background-color: aqua;
    height: 10px;
    width: 100%;
    top: 100%;
    z-index: 4;
    box-shadow: rgb(15, 0, 0) 20px 0px 75px 110px;
}

#flex__sec__header--flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 10;
}

#flex-block__h2-p--absolute-text {
    font-size: 35px;
    margin: 0px 0px 15px;
}

#flex-block__p--center {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

#flex-block__div--header-decorative-box {
    height: 2px;
    background-color: white;
    width: 60%;
}

#block__main-margins-character-info {
    border: 3px solid lawngreen;
    margin: 0px 115px;
    /* height: 500px; */
    background-color: gray;
    padding: 20px 10px;
}

.flex__sec--flex-row-1-by-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.character-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 150px;
    width: 350px;
    background-color: royalblue;
    margin: 10px 5px;
    text-decoration: none;
    color: white;
    border: 2px solid peru;
}

.characters-png {
    height: 150px;
    width: 150px;
    background-color: black;
    border: 2px solid green;

}

.character-mini-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed oldlace;
    width: 100%;
    min-width: 100px;
}

.character-info-title {
    align-self: flex-start;
    margin: 15px 0px 0px 15px;
    font-size: 25px;
}

.character-info-season {
    margin: 2px 0px 0px 30px;
    font-size: 18px;
}
